body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQc7mmyVX3iY5OiEBsGl9cnPNr1M0ZJ8fY_Q&s');
  height: 100vh;
}

.app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background: #0056b3;
}

.weather-info p {
  margin: 10px 0;
}

.toggle-button {
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.toggle-button:hover {
  background: #0056b3;
}

.dark-mode {
  background: rgba(51, 51, 51, 0.9);
  color: #fff;
}
